body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
}

/* Responsividade */
@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #121212;
        --color-primary: #4fc3f7;
        --color-secondary: #1e293b;
        --color-accent: #0288d1;
        --color-text-dark: #e0e0e0;
        --color-text-light: #b0bec5;
        --color-white: #1c1c1c;
        --color-border: #3a3a3a;
    }

    body {
        background-color: var(--color-background);
        color: var(--color-text-dark);
    }

    main {
        background-color: var(--color-white);
        color: var(--color-text-light);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        border: 3px solid var(--color-border);
    }
}