@charset "UTF-8";

* {margin: 0px; padding: 0px;}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: #fff;
    color: #000;
}

section.imagem {
    background-color: rgb(36, 36, 36);
    color: #fff;
}

section.imagem > p {
    width: 400px;
    background-color: #0000006b;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

