@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Satisfy&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Poetsen One", sans-serif;
    --fonte3: "Satisfy", cursive;
}

* {
    margin: 0px; 
    padding: 0px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section.normal {
    background-color: #fff;
    color: #000;
}

section.imagem {
    background-color: rgb(36, 36, 36);
    color: #fff;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: #0000006b;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

