main {
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
    background-color: #7c7c7c8c;
    color: rgb(87, 69, 248);
    margin-top: 10px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

.fixo {
    position: sticky;
    top: -1px;
}

.espaco {
    margin-top: 25px;
}

a {
    color: #ffa500;
    text-decoration: none;
}

a:hover {
    transition: 0.5s;
    color: #00ffff;
    background-image: linear-gradient(#ffff00, #fff, #0000ff, #008000, #ff0000, #ffa500);
    text-decoration: underline;
}