body {
    height: 100vh;
    /*background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/

    /*
    Shorthand - background
    
    color > image > position > repeat > [size] > attachment

    AVISO: No manual da W3C, dizem que esta shorthand pode ser usada normalmente, mas o 'size', não funciona, mesmo estando nas especificações da documentação. Por conta disso temos que colocar o 'background-size: cover;' em uma declaração a parte da Shorthand.

    */

    background: black url('../imagens/wallpaper002.jpg') center center fixed;
    background-size: cover;

}

main {
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}