body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    border: 5px solid red;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center; /*ALINHAMENTO HORIZONTAL*/
    vertical-align: middle; /*ALINHAMENTO VERTICAL*/
}

.numero {
    text-align: right;
}