@charset "UTF-8";

/*
 Paleta de Cores 

 Verde: #49a09d
 LilaÌs: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    background-image: linear-gradient(to bottom, #5f2c82, #9e5dc3);
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: #fff;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login>div#imagem {
    display: block;
    background: #5f2c82 url("../imagens/pexels-mohammed-alim-2147810513-29833376.jpg") left bottom no-repeat;
    background-size: cover;
    height: 200px;
}

section#login>div#formulario {
    display: block;
    padding: 10px;
}

div#formulario>h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario>p {
    font-size: 0.8em;
}

form>div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo>label {
    display: none;
}

div.campo>span {
    color: #fff;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo>input {
    background-color: #60cfcc;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo>input:focus-within {
    background-color: #fff;
}

form>input {
    display: block;
    padding: 5px;
    width: 100%;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid #5f2c82;
}

form>input[type=submit] {
    display: block;
    text-align: center;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #49a09d;
    color: #fff;
    border: none;
}

form>input[type=submit]:hover {
    background-color: #2d6462;
}

form>a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: #fff;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
}

form>a.botao:hover {
    background-color: #2d6462;
    color: #fff;
}

form>a.botao>span {
    font-size: 0.8em;
}