@charset "UTF-8";

header,
header menu {
    flex-flow: column nowrap;
}

header {
    & h1 {
        flex-basis: 50px;
    }

    & menu {
        display: none;
        width: 100%;

        & a {
            width: 100%;
            margin: 5px 0;
        }
    }

    & i#burguer {
        display: block;
    }
}