@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    background-color: gray;
    color: white;
    padding: 10px;

    & h1 {
        border: 2px dotted black;
        flex: 0 0 200px;
    }

    & nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: end;

        border: 2px dotted black;

        & a {
            background-color: #000;
            color: #fff;
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;

            &:hover {
                background-color: #fff;
                color: #000;
                transition: background-color 0.5s;
            }
        }
    }
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}