@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints

Pequenas telas: 600px
Celular: 600px - 768px
Tablet: 768px - 992px
Desktop: 992px - 1200px
Grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 90vw;
        height: 350px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) { /* Desktop */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario >  p {
        font-size: 1.2em;
        margin: 20px 0px;
        padding: 4px;
    }
}