body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    background-color: #cdcdcd;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 18px 20px 18px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #007bff;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

p {
    color: #555;
}

@media screen and (max-width: 600px) {
    main {
        padding: 25px;
    }
}